extends layout
block content
  a(href='/pug/index' class="btn btn-info") Back
  h1= 'Hero Details'
  form(method='post' action='/pug/heroes/'+hero.id)
    label Name:
    br
    input.form-control(name='name' type='text' value=hero.name)
    br
    input(type='submit' value='Submit' class="btn btn-primary")
