extends layout
block content
  h1= 'Heroes list'
  form(method='post' action='/pug/heroes')
    label Name:
    br
    input.form-control(name='name' type='text')
    br
    input(type='submit' value='Submit' class="btn btn-primary")
  table(class='table')
    for hero in heroesList
      tr
        td= hero.id
        td
          a(href='/pug/heroes/'+hero.id) #{hero.name}
        td
          a(class="btn btn-danger" href='/pug/hero/'+hero.id+'/delete') Delete
